<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Amazing app to help you find the nearest MBTA station</title>
    <style>
      body {
        background-color: lightpink;
      }
    </style>
  </head>
  <body>
    <p>Hi, Welcome to</p>
    <h1>The MBTA App</h1>
    <p> This app will help you locate information about your nearest MBTA stop. Please enter your location in the textbox below!</p>
    <p> Enter in the name of your town or your address</p>
    <p> If you are entering you address, please use the following format: Number Street Name, Town/City, State Code Zip Code  </p>
    <form method="post">
        <label for="place_name">Enter Place Name:</label>
        <input type="text" id="place_name" name="place_name" required>
        <button type="submit">Submit</button>
    </form>
  </body>
</html>
